.Element{
    margin-left:3px;
    display:flex;
    flex-direction: row;
    height: 40px;
    width:100%;
    font-family:'Times New Roman', Times, serif;
    font-size:21px;
}
.btn-block{
    display:flex;
    flex-direction: row;

}
.Amount{
}
.ImageClass{
    display:block;
    text-align: center;
    position: relative;
}
.container{
    width:20%;
}
.btn-size-cart{
    margin-left:5px;
    visibility: visible;
}
.btn-size{
    width: 10px;
    height: 13px;
    margin:5px;
    border: 0; 
    line-height: 0; box-sizing: content-box;
}