<nav class="navbar navbar-light navsize">
    
	<span class="headerTitle">SomeTitle</span>
    <div class="linkblock">
        <a class="btn btn-primary links" [routerLink]="['']">На главную</a>
       
    </div>
    <div class="enterbuttons">
        <a *ngIf="!UserService.isLogged" [routerLink]="['/registration']" id="RegistButton" value="Регистрация" class="btn btn-primary autorization hidden" type="button">Регистрация</a>
        <a *ngIf="!UserService.isLogged" [routerLink]="['/login']" id="EnterButton" value="Вход" class="btn btn-primary autorization hidden" type="button">Вход</a>
        <a *ngIf="UserService.isLogged" [routerLink]="['/user']" id="UserButton" value="Профиль" class="btn btn-primary hiddenProfile" type="button">Профиль</a>
        <a *ngIf="UserService.isLogged" type='button' [routerLink]="['']" (click)='exitClick()' id='exitClick' class="btn btn-primary hiddenProfile">Выход</a>
    </div>
</nav>
