<div class="mainblock">
    <div class="UserDescription">
        <div class='Avatar'>
            <div>
                <img class='AvatarImage'/>
            </div>
            <div>
                <button>Редактировать</button>
            </div>
        </div>
        <div class='UserInfoPanel'>
            <div class='TextElement'>Имя: {{User.name}}</div>
            <div class='TextElement'>Баланс: 0</div>
            <div class='TextElement'>Вещей в корзине: {{CartElements}}</div>
            <div class='TextElement'>Цена корзины: {{CartPrice}}</div>

        </div>
    </div>
  
    <div class="ButtonsPanel">
        
        <div class='EnterAdd'>
            <button type='button'  (click)='switchOff(); AddShowing=!AddShowing;' name='AddShowing' class="btn btn-primary element">Добавить товар</button>
        </div>
         
        <div name='CartSwitcher' class="CartSwitcher">
            <button type='button' (click)='switchOff(); CartShowing=!CartShowing' class='btn btn-primary element' name='CartShowing'>Корзина</button>
        </div>
    </div>
        

        <app-cart *ngIf='CartShowing'></app-cart>
        <app-add-product *ngIf='AddShowing'></app-add-product>
    </div>
