<div class="mainblock">
    <div class="userInfoBlock">
<div class="element">
<span>
    Логин: {{User.login}}
</span>
</div>
<div class="element">
    <span>
    E-mail: {{User.email}}
</span>
</div > 
<div class="element">
    <span>
    Дата регистрации: 
    </span>
</div >
<div class="element">
    <span> 
    Баланс: 0
    </span>
</div>
<div>
    <a type='button' [routerLink]="['']" (click)='exitClick()' id='exitClick' class="btn btn-primary element">Выход</a>
    <a type='button' [routerLink]="['/addproduct']" id='addClick' class="btn btn-primary element">Добавить товар</a>
</div>
    </div>
<div class="container container-size">
    <div class="TovarsBox">
            <app-productitem *ngFor="let item of ProductList; let i = index" class="oneTovar"
              [Name]="item.Name"
              [Amount]="item.Amount"
              [Id]="item.pk"
              [Price]="item.Price"
              [Image]="item.Image"
              Cart="hidden"
              >
            </app-productitem>
    </div>
  </div>
</div>