.mb-3{
    width:200px;
    margin-left:10px;
    height: 65px;
}
.headerList{
    margin-left:1.3%;
}
.oneTovar{
    outline:1px solid rgb(119, 145, 184);
    width: 330px;
    height: 400px;
    margin:15px;
    display:block;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.TovarsBox{
    box-shadow: 0 0 10px rgba(0,0,0,0,5);
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    overflow: auto;
    
}

.container-sm{
    width: 320px;
}
.container-size{
margin-left:auto;
margin-right: auto;
margin-top: 200px;
    background-color: rgb(245, 245, 245);
}
.TovarTitle{
    width: 25%;
}